* {
  padding: 0;
  margin: 0;
  font-family: "DM Sans", sans-serif;
}

.bloger {
  color: white;
  font-family: poppins;
  -webkit-text-stroke-width: 2px;
  -webkit-text-stroke-color: #333d4a;
}

.it,
.signup {
  color: #6b34fb;
}

.nav {
  z-index: 900;
}

/* CSS */
.button-52 {
  font-size: 16px;
  font-weight: 200;
  outline: 0;
  border: 1px solid black;
  cursor: pointer;
  position: relative;
  background-color: rgba(0, 0, 0, 0);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button-52:after {
  content: "";
  background-color: #6b34fb;
  width: 100%;
  z-index: -1;
  position: absolute;
  height: 100%;
  top: 7px;
  left: 7px;
  transition: 0.2s;
}

.button-52:hover:after {
  top: 0px;
  left: 0px;
}

@media (min-width: 768px) {
  .button-52 {
    padding: 13px 50px 13px;
  }
}
